body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#dashboard {
    position: absolute;
    width: 600px;
    height: 300px;
    left: calc(50% - 300px);
    bottom: 5px;
}


svg#element1 {
  position: fixed;
  fill: white;
  width: 70px;
  height: 70px;
  z-index: 10;

  left: calc(50% - 265px);
  bottom: 175px;

}

svg#element2 {
  position: fixed;
  fill: white;
  width: 80px;
  height: 80px;
  z-index: 10;

  left: calc(50% - 265px);
  bottom: 100px;

}

svg#element3 {
  position: fixed;
  fill: white;
  width: 70px;
  height: 70px;
  z-index: 10;

  left: calc(50% - 265px);
  bottom: 35px;

}

svg#element1:hover, svg#element2:hover, svg#element3:hover  {
    fill: cyan;
}

audio {
    position: absolute;
    left: calc(50% - 120px);
    bottom: 35px;
    z-index: 11;
    width: 150px;
}
